$resize-margin: 0.5em;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#mount {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  background: lightblue;
  grid-gap: $resize-margin;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.box {
  position: absolute;
  display: grid;
  grid-template-columns: $resize-margin 1fr $resize-margin;
  grid-template-rows: $resize-margin 1fr $resize-margin;

  & > div {
    //border: 1px dashed grey;
  }

  .west,
  .east {
    cursor: ew-resize;
  }

  .north,
  .south {
    cursor: ns-resize;
  }

  .northEast,
  .southWest {
    cursor: nesw-resize;
  }

  .northWest,
  .southEast {
    cursor: nwse-resize;
  }
  .content {
    cursor: move;
    overflow: auto;
    border: 1px solid gray;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 3px 4px -1px gray;
  }
}

.expand {
  height: 100%;
  width: 100%;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 15;
  font-size: 2em;
  padding-right: 0.2em;
  cursor: pointer;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 30px;

  // disable text select
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

.CodeMirror {
  height: 100%;
  width: 100%;
}

.cm-s-solarized.CodeMirror {
  box-shadow: none;
}
